.main_img1 {
    width: 500px;
}

.main_img2 {
    object-fit: cover;
    width: 500px;
    height: 359px;
}

main>div {
    display: flex;

    justify-content: space-between;
    margin: 100px;
    margin-left: 50px;
    margin-right: 50px;

}

.headline {
    margin: auto;
    max-width: 600px;
    font-size: 30px;
}

.in_headline {
    text-align: center;
}

.cards {
    font-size: 15px;
}