main>div {
    background-color: #C4C4C4;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 430px;
    gap: 22px;
    padding: 10px;
    align-items: center;
    border-radius: 15px;
    transition-duration: 300ms;
    transition-delay: 1s;
}

main>div:hover {
    transform: scale(1.1);
}

main>div>img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

main {
    justify-content: center;
    gap: 59px 124px;
    flex-wrap: wrap;
    padding: 45px 74px;
    display: flex;
}

main>div:nth-child(2n)>a {
    animation-name: heartBeat1;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes heartBeat1 {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    1% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    2% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    4% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    7% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media (prefers-color-scheme: dark) {
    main>div {
        background-color: #4A4A4A;
    }

    .price {
        color: #E8E8E8;
    }

}