main {
    margin: 0;
    padding: 50px 0 0 0;
}

.new_img {
    width: 300px;
}

.container {
    display: flex;
    margin: 100px 0 0 0;
    overflow: auto;
}

.imgs_wraper {
    display: flex;
    width: 2000px;
}

.new_text {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    position: absolute;
    width: 100%;
}