@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-size: 20px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.logo_search {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

header {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    background-color: #C4C4C4;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 16px;
}

.circle_on_card {
    position: absolute;
    text-align: center;
    width: 10px;
    top: 2px;
    right: -9px;
    font-size: 10px;
    border-radius: 20px;
    padding: 3px;
    color: black;
    background-color: lightblue;
}

.cart {
    position: relative;
}

.menu__box {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    margin: 0 10px;
}

form {
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

header>div>a>h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 53px;
}

.button:hover {
    transform: scale(1.1);
}

input:hover::-webkit-calendar-picker-indicator {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    visibility: 0;
}

.menu__box {
    z-index: 10;
}

.button {
    text-align: center;
    border-radius: 12px;
    border: 0px;
    padding: 9px 72px;
    font-size: 20px;
    background-color: #FF0000;
    transition-property: transform;
    transition-duration: 300ms;
    transition-delay: 1s;
}

form {
    display: flex;
    position: relative;
}

.search {
    margin-bottom: 5px;
    padding: 7px;
}

.submit {
    position: absolute;
    top: 5px;
    z-index: 1;
    right: 2px;
}

.menu__btn {
    z-index: 20;
}

#menu__toggle {
    position: absolute;
    opacity: 0;
}

footer>div {
    color: #0057ff;
}

.icons {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer_icons_text {
    white-space: nowrap;
    padding-left: 10px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 0 50px;
    border: 1px solid black;
    background-color: #b4b4b4;
}

main {
    padding: 10px;
    min-height: calc(100vh - 148px - 75px);
    box-sizing: border-box;
}

.search {
    width: 100%;
    border-radius: 6px;
    padding: 7px;
    border: none;
}

.submit {
    background-color: transparent;
    border: none;
}

@media (max-width: 768px) {

    .circle_on_card {
        right: 7px;
    }

    /* стилизуем кнопку */
    .menu__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: fixed;
        top: 12px;
        right: 20px;
        width: 26px;
        height: 26px;
        z-index: 20;
    }

    /* добавляем "гамбургер" */
    .menu__btn>span,
    .menu__btn>span::before,
    .menu__btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
    }

    .menu__btn>span::before {
        content: '';
        top: -8px;
    }

    .menu__btn>span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: #ECEFF1;
    }

    /* элементы меню */
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        text-decoration: none;
    }

    .menu__item:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked~.menu__btn>span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked~.menu__btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked~.menu__btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked~.menu__box {
        visibility: visible;
        right: 0;
        animation-name: fadeInRight;
        animation-duration: 1000ms;
    }
}

@media (prefers-color-scheme: dark) {
    * {
        color: #E8E8E8;
    }

    header {
        background-color: #4A4A4A;
    }

    header>nav>ul>li>a {
        color: #E8E8E8;
    }

    main {
        background-color: #777676;
    }

    .menu__item {
        color: #E8E8E8;
    }

    .button {
        background-color: #967878;
        color: black;
    }

    footer {
        background-color: #4A4A4A;
    }

    .footer_icons_text {
        color: rgb(140 179 255);
    }

    .search {
        background-color: #777676;
    }

    .search::placeholder {
        color: #E8E8E8;
    }

    @media (max-width: 768px) {
        .menu__box {
            background-color: #333;
        }
    }

}

@media (max-width: 370px) {
    form {
        width: 100%;
    }
}

@media (min-width: 576px) {
    footer {
        justify-content: space-evenly;
    }
}